<div class="container">
    <h1>Carrito de compras</h1>

    <ul class="cart-list">
        {{#each products}}
        <li class="cart-item">
            <p>Producto: {{this.product.title}}</p>
            <p>Cantidad: {{this.quantity}}</p>
        </li>
        {{else}}
        <li class="cart-item">El carro de compras esta vacio</li>
        {{/each}}
    </ul>
</div>